.line {
    display: flex;
    justify-content: space-between;
}

.first {
    color: #A0B0B9;
    font-family: Open Sans SemiBold;
    min-width: 81px;
}

.second {
    font-size: 14px;
    color: #4A4A4A;
    font-family: Open Sans SemiBold;
    min-width: 81px;
    margin-bottom: 10px;
}