@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('Open Sans Regular'),
      url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff') format('woff'),
      url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('Open Sans Bold'),
      url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff') format('woff'),
      url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: local('Open Sans Semibold'), local('Open Sans Semibold'),
      url('../fonts/OpenSans-SemiBold.eot') format('embedded-opentype'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff'),
      url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
background-color: #F3F7FA;
font-family: Open Sans;
box-sizing: border-box;
font-size: 12px;
}


